node_modules
dist
coverage
.DS_Store
.env
.env.local
.env.*.local
apps/*/node_modules
apps/*/dist
apps/*/.env
packages/*/dist
packages/*/node_modules
apps/api/logs/*.log
*.tsbuildinfo
*.tmp
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
