NODE_ENV=development
APP_NAME=X10Think Restaurant Management System API
APP_VERSION=0.1.0
PORT=4000
API_PREFIX=/api/v1
CLIENT_URL=http://localhost:5173
MONGODB_URI=mongodb://localhost:27017/x10think-dev
MONGODB_DB_NAME=x10think-dev
DATABASE_STRICT_STARTUP=false
REQUEST_RATE_LIMIT_MAX=300
